<header>
  <nav>
    <a href="/">Home</a>
    <span class="separator">&middot;</span>
    <a href="/feed/rss" target="_blank">Follow via RSS</a>
  </nav>
  <h1 class="page-title"><%= title  %></h1>
</header>